# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Caches
feed_cache.xml

# Virtual Environment
venv/
env/
.venv/
ENV/

# Logs
*.log

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
Thumbs.db
db.db
Desktop.ini
